.chatContainer {
  height: 100vh; /*  view port height 50 sẽ chia đôi màn hình ngang*/
  overflow: hidden; /* vd 1 div có tẽ dài bị tràn ra khỏi div thì nó có 
    thể che phần tràn đi scroll: là có thẻ dùng chuột kéo lên xuống để coi phần tràn */
}

.chatContainer .chatHeader {
  color: blanchedalmond;
  background-color: #4482ff;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  text-align: center;
}

.chatContainer .chatMain {
  height: calc(100% - 64px);
}

.chatContainer .chatMain .conversationDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .chatContainer>.chatMain .conversationDetail : dấu mũi tên có nghĩa là chỉ đến con trực
 tiếp nghĩa là con đó k bọc trong div  */

/* .chatContainer.chatMain .conversationDetail : ghi liền là cùng hàng với nhau  */

.chatContainer .chatMain .conversationDetail .conversationHeader {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px dotted #6b59bb;
  text-align: center;
  font-size: 20px;
}

.chatContainer .chatMain .conversationDetail .conversationMessages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 12px;
}

.chatContainer .chatMain .conversationDetail .conservationInput {
  display: flex;
  height: 64px;
  line-height: 64px;
  border-top: 1px dotted #6b59bb;
  padding-left: 12px;
}

.chatContainer .chatMain .conversationDetail .conservationInput input {
  height: 64px;
  flex: 1;
}

.chatContainer .chatMain .conversationDetail .conservationInput button {
  font-weight: 550px;
  margin: 0px 12px;
}

.chatContainer .chatMain .conversationDetail .conservationInput input:focus {
  outline: none;
}

.messagesContainer {
  margin: 6px;
  width: 100%;
}

.message {
  padding: 6px 12px;
  max-width: 40%;
  background-color: #b2abcf;
  border-radius: 8px;
  display: inline-block;
}

.your {
  text-align: right;
}

.your .message {
  padding: 6px 12px;
  max-width: 40%;
  background-color: #503ba3;
  color: blanchedalmond;
  border-radius: 8px;
  display: inline-block;
}

.chatContainer .chatMain {
  display: flex;
}

.chatContainer .chatMain .createConversation {
  flex: 1;
  border-right: 3px solid #503ba3;
}

.chatContainer .chatMain .conversationList {
  flex: 3;
}

#createConversation {
  margin-left: 80px;
  margin-top: 10px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4482ff;
  border-color: #4482ff;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 4px;
  height: 36px;
}

.selectedConversation {
  background-color: rba(0, 0, 0.05);
}

.conversationItem {
  margin-top: 17px;
  border-top: 1px solid #503ba3;
}

.componentUser {
  height: 64px;
  padding: 12px;
  font-size: 10px;
  border-bottom: 1px solid #503ba3;
  cursor: pointer;
}

.add-coversation-modal {
  display: none;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: fixed;
  background-color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-coversation-modal.active {
  display: block;
}
